:root {
    --roxo-escuro: #4C2296;
    --roxo: #4036A9;
    --rosa: #B4436D;
    --azul-escuro: #111729;
    --cinza: #CDD5E0;
}

body {
    background: linear-gradient(136deg, var(--rosa)10%, var(--roxo), var(--roxo-escuro));
    height: 150vh;
    color: white;
}

/* TITULO & SUBTITULO */
h1 {
    font-family: "Be Vietnam Pro", sans-serif;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 23px;
}

h2 {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: normal;
}

.titulo {
    /* background-color: rgba(245, 222, 179, 0.384); */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 830px;
    margin: 70px auto;
    padding: 10px; 
    text-align: center;
}

/* FORM */
section {
    background-color: rgba(216, 191, 216, 0.267);
    font-family: "Be Vietnam Pro", sans-serif;
    display: flex;
    width:670px;
    margin: auto;
    border-radius: 20px;
    padding: 15px;
}

input::placeholder {
    padding: 15px;
}

/* PRIMEIRA LINHA */
.nome-email {
    /* background-color: rgba(255, 228, 196, 0.432); */
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

/* NOME */
.nome {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label#nome {
    font-size: 14px;
    padding-bottom: 3px;
}

input#nome {
    height: 60px;
    border-radius: 12px;
    border: none;
    width: 300px;
    outline: none;
    padding: 0 0 0 10px;
}

input#nome::placeholder {
    font-family: "Be Vietnam Pro", sans-serif;
    padding: 0 0 0 3px;
}

/* EMAIL */
.email {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label#email {
    font-size: 14px;
    padding-bottom: 3px;
}

input#email {
    height: 60px;
    border-radius: 12px;
    border: none;
    width: 300px;
    outline: none;
    padding: 0 0 0 10px;
}

input#email::placeholder {
    font-family: "Be Vietnam Pro", sans-serif;
    padding: 0 0 0 3px;
}

/* SEGUNDA LINHA */
.tamanho-assunto {
    /* background-color: rgba(255, 228, 196, 0.432); */
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

/* TAMANHO EMPRESA */
.tamanho-empresa {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label#tamanho {
    font-size: 14px;
    padding-bottom: 3px;
}

select#tamanho {
    color: var(--azul-escuro);
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: bold;
    height: 60px;
    border-radius: 12px;
    border: none;
    width: 310px;
    padding: 10px;
    outline: none;
}

/* ASSUNTO */
.assunto {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

label#assunto {
    font-size: 15px;
    padding-bottom: 3px;
    font-size: 14px;
}

select#assunto {
    color: var(--azul-escuro);
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight:bold;
    height: 60px;
    border-radius: 12px;
    border: none;
    width: 310px;
    padding: 10px;
    outline: none;
}

/* MENSAGEM */

.mensagem {
    /* background-color: rgba(255, 228, 196, 0.432); */
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-left: 5px;
}

label#mensagem {
    padding: 3px;
    font-size: 14px;
}

textarea#mensagem {
    height: 200px;
    border-radius: 12px;
    border: none;
    outline: none;
    width: 630px;
    resize: none;
}

textarea#mensagem {
    padding: 20px 0 0 10px;
}

textarea#mensagem::placeholder {
    font-family: "Be Vietnam Pro", sans-serif;
    padding: 0 0 0 3px;
}



/* BOTÃO */

.botao {
    /* background-color: wheat; */
    padding: 12px;
    margin-left: 3px;
}

button {
    background-color: white;
    border: none;
    height: 60px;
    border-radius: 12px;
    padding: 10px 262px;
    width: 640px;
    cursor: pointer;
}

button#botao {
    /* background-color: bisque; */
    color: #5B24A7;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: bolder;
    white-space: nowrap; 
    font-size: 18px;
    padding: 0 20px;
}